p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin: 30%;
    
}