body{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    align-items:center;
    min-height: 100vh;
}

body, div {
    background-color: #f1eeeefa;
}

header, nav, main, aside, footer{
    background-color: #f1eeeefa;
    box-sizing: border-box;
    padding: 10px;
}

.grid{
    flex-grow: 1;
    display: grid;
    grid-template-columns: minmax(150px,0.3fr) minmax(350px,2fr) minmax(150px,0.8fr);
    grid-template-rows: 1fr;
    grid-auto-flow: dense;
    grid-template-areas:
    "nav main aside";
    gap: 10px;
    padding: 10px;
}

nav{
    grid-area: nav;
    text-align: start;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
    padding: 10px;
}

nav, aside{
    position: static;
    height: auto;
    }

/*-------------- HEADER SECTION --------------*/

.header {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
    font-size: 20px;
    container-name: header;
    container-type: inline-size;
    z-index: 10;
}

.header__open-nav-button {
    color: #444;
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    right: 10px;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-evenly;
}

.header__nav {
    display: none;
    background-color: #FFF;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: -1;
}

.header__checkbox {
    display: none;
}

.header__checkbox:checked ~ .header__nav {
    display: flex;
}

.header__logo {
    max-width: 100%;
    width: 100px;
    margin: 10px 20px;
    border-radius: 16px;
}

.header__nav-item {
    list-style: none;
}

.header__nav-item a {
    color: #444;
}

.header__nav-item a:not(:is(:hover, :active)) {
    text-decoration: none;
}

h2{
    text-align: center;
}

h1{
letter-spacing: 30px;
font-family: cursive;
font-weight: 900;
text-align: left;
padding-right: 700px;
}

/*-------------- HEADER QUERIES START--------------*/

@container header (min-width: 600px) {
    .header__nav {
        display: block;
        position: static;
        height: auto;
        justify-content: space-between;
        width: auto;
    }

    .header__nav-list {
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
        margin-right: 50px;
    }

    .header__open-nav-button {
        display: none;
    }
}

/*-------------- HEADER QUERIES END --------------*/

/*-------------- SIDE NAV START --------------*/
header {
    width: 100%;
    background-color: #fff;
    padding: 5px;
    font-size: 2em;
}

.side__nav-item {
    list-style: none;
}

.side__nav-item a {
    color: #444;
}

.side__nav-item a:not(:is(:hover, :active)) {
    text-decoration: none;
}

ul{
    list-style: none;
    font-size: 25px;
    line-height: 40px;
    font-weight: 600;
}

/*-------------- SIDE NAV END --------------*/

/*-------------- MAIN START --------------*/

.cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}
    
  .card {
    display: grid;
    grid-template-rows: minmax(300px,1fr) 100px;
    grid-template-columns: minmax(300px,1fr);
    border-radius: 16px;
    padding: 20px;
    }
  

  .picture1 {
    background-image: url(https://media.istockphoto.com/id/2148513876/es/foto/un-juguete-amigurumi-de-ganchillo-de-un-lindo-le%C3%B3n-de-peluche.jpg?s=2048x2048&w=is&k=20&c=aZNfukqg7lZrsOjblfvYbNsREBOf3YzD5b3Y8VCJGD8=);
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size: cover;
    border: 2px solid;
    color: pink;
    border-radius: 16px;
  }

  .picture2 {
    background-image: url(https://media.istockphoto.com/id/1587487552/es/foto/juguete-de-punto-hecho-a-mano-imagen-lgbtq-de-amigurumi-animal.jpg?s=2048x2048&w=is&k=20&c=z5qDXe2SjOGGY8gtZOtWYe6bFqX_5d6QfkGI0Tl1wJo=);
    background-repeat: repeat-x;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
    border: 2px solid;
    border-radius: 16px;
    color: pink;
  }

  .picture3{
  background-image: url(https://media.istockphoto.com/id/1745863841/es/foto/mu%C3%B1eca-amigurumi-hecha-a-mano.jpg?s=612x612&w=is&k=20&c=t5o7jtYtGsyCqZQOftnYnAYWV_AmGxkC5TJyT3YfN-c=);
  background-repeat: repeat-x;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid;
  border-radius: 16px;
  color: pink;
}

.picture4{
    background-image: url(https://disenosparabordar.com/wp-content/uploads/2020/07/Amigurumis.jpeg);
    background-repeat: repeat-x;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid;
    border-radius: 16px;
    color: pink;
}
 

.picture5{
    background-image: url(https://media.istockphoto.com/id/2153175558/es/foto/pretty-cute-kitten-relaxing-on-the-bed-with-red-heart-tabby-cat-funny-mischief-pets-valentines.jpg?s=2048x2048&w=is&k=20&c=zAKz0bPTXX2Qj7q1Vw1uYbcCiDdpbENOEUo_Ufu0axk=);
    background-repeat: repeat-x;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid;
    border-radius: 16px;
    color: pink;
}

.picture6{
    background-image: url(https://littlebearcrochets.com/cdn/shop/files/giraffe-crochet-amigurumi-pattern-09-570_c099e22e-b4db-4105-ae2f-200f378090c6.jpg?v=1714895135&width=493);
    background-repeat: repeat-x;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid;
    border-radius: 16px;
    color: pink;
}

.block {
    background-color: #444;
    color: #FFF;
    margin: 50px 0;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.form__input-newsletter{
text-align: center;
margin: 20px;
background-color: #444;
padding: 20px 9px;
font-size: 1.5em;
}

p{
    font-size: 1.5em;
    text-align: justify;
    }
    
span{
    font-size: 1.5em;
    text-align: center;
}
/*-------------- MAIN END --------------*/

/*-------------- QUERIES MAIN START --------------*/
@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: 
        minmax(250px, 1fr) 
        minmax(300px, 3fr); 
        grid-template-rows: 1fr;
        grid-auto-flow: dense;
        grid-template-areas: 
        "nav main";
    }
    nav, aside {
        position: sticky;
        top: 0;
        height: 100vh;
    }
    aside {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    .grid {
        grid-template-columns: 
        minmax(250px, 1fr) 
        minmax(300px, 3fr) 
        minmax(250px, 1fr);
        grid-template-rows: 1fr;
        grid-auto-flow: dense;
        grid-template-areas: 
        "nav main aside";
    }
    nav, aside {
        position: sticky;
        top: 0;
        height: 100vh;
    }
    aside {
        display: inline;
    }
}

/*-------------- QUERIES MAIN END --------------*/

/*-------------- fORM START  --------------*/

.form {
    min-max: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 20px 0 ;
    container-name: form;
    container-type: inline-size;
}

.form__form {
    padding: 20px;
    max-width: 600px;
    width: 90%;
    display: grid;
    font-size: 1 em;
}

.form__input-container :is(input, textarea) {
    width: 100%;
    padding: 10px 9px;
    font-size: 1em;
    margin: 8px;
    border: none;
    box-shadow: 0px 0px 9px #0003;
    border-radius: 8px;
}

.form__input-container textarea {
    font-family: inherit;
    min-width: 100%;
    min-height: 100px;
    max-width: 100%;
    max-height: 200px;
    resize: vertical;
}

.form__input-submit {
    text-align: center;
}

.input_submit {
    border: none;
    max-width: 100px;
    text-align: center;
    box-shadow: 0px 0px 9px rgba(45, 44, 44, 0.2);
    border-radius: 10px;
    background-color:#729498;
    color: #fdf5db;
}
.input_submit:hover {
    background-color: #466c70;
}

/*-------------- FORM END  --------------*/

/*--------------  FOOTER START --------------*/
